
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<h2>Export Evaluation CSV</h2>





			<table border="2">
				<tr>
					<th style="text-align:center" colspan="1">&nbsp;User ID&nbsp;</th>
					<th style="text-align:center" colspan="<%=@products.length %>">&nbsp;Chosen Products&nbsp;</th>
				</tr>
				<tr>
					<th style="text-align:center"></th>
					<% @products.each do |product| %>
			   		<th style="text-align:center">&nbsp;<%= product.name %>&nbsp;</th>
			   		<% end %>
				</tr>
			    
			    <% @hash_users.each do |user| %>
			    <tr>
					<th style="text-align:center">&nbsp;<%= user[0] %>&nbsp;</th>
					<th style="text-align:center" colspan="3">
						<% sibal = user[1] %>
						<%= sibal %>
						<% i = 0 %>
						<% while i < sibal.length %>
							<% if i%2 == 0 %>
								
							<% else %>
								<%= sibal[i] %>
						
							<% end %>
							<%i = i+1 %>
						<% end %>
					</th>
						<%= sibal[0] %>
						<% user[1].each do |product| %>
							<%= product %>,
						<% end %> 
						&nbsp;</th>
				</tr>
				<% end %>
			</table>

<br><br>
			<%= form_tag '/export', multipart: true do %>
  <%= submit_tag "export csv" %>
<% end %>