<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



<!-- main menu -->
  <a href="/users/sign_in">
    <%=image_tag( "home.png", :class=> "home_logo") %></a>
  <nav id="navbar" class="navbar nav-top navbar-fixed-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-sm-3 col-xs-6"></div>
        <div class="col-md-4 col-sm-8 col-xs-6">
          <div class="navbar-center">
            <ul class="nav navbar-nav">
              <li class="active"><a href="evalpage">Smelling</a></li>
              <li>
                <a href="mypage">
                  <%=@user.email%>
                </a>
              </li>
              <li><a href='/users/sign_out'> Log out </a> </li>
            </ul>
          </div>
        </div>
        <div class=" col-sm-1 "></div>
      </div>
    </div>
  </nav>
  <!-- main menu end -->
  
  <div class="container-fluid">
  	<div class="row profile_bg" style="font-size:40px; text-align:center;">
  	Smelling
  	</div>
  </div>


<div class="container-fluid">
<div class="row reco">
 <div class="col-md-12">
  <!--<div class="col-md-12 e_heade_name">Smelling</div>-->
 	<div class="row">
     <div class="col-md-3 drop">
	  <div class="dropdown">
	    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    상품 종류 &nbsp;
	    <span class="caret"></span>
	    </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	  	<li><a href="/evalpage">전체보기</a></li>
			<li role="separator" class="divider"></li>
	    <li><a href="/evalpage?category=bodyclean">바디클렌저</a></li>
	    <li><a href="/evalpage?category=soap">비누</a></li>
	    <li><a href="/evalpage?category=handcream">핸드크림</a></li>
	    <li><a href="/evalpage?category=shampoo">샴푸/컨디셔너</a></li>
	    <li><a href="/evalpage?category=manp">남자향수</a></li>
	    <li><a href="/evalpage?category=womanp">여자향수</a></li>
	    <li><a href="/evalpage?category=diff">방향제</a></li>
	    <li><a href="/evalpage?category=candle">양키캔들</a></li>
	  </ul>
	</div>
   </div>
 </div>
</div>
<br>
<br>
<br><br><br>


<div class="tab-content container-fluid">
	<div role="tabpanel" class="tab-pane fade in active" id="tab-home">
		<div class="row reco">
			<div class="col-md-12">
				<% @products.sort_by{rand}.each do |product| %>
					<div class="col-sm-6 col-md-3 product_div" product-id="<%= product.id %>">
						<div class="col-md-12 product_box">
							<div class="col-md-12 product_mark">
								<div class="col-md-3 product_select"><span class="heart-empty"></span></div>
								<div class="col-md-6"></div>
								<div class="col-md-3 product_wish"><span class="bookmark-empty"></span></div>
							</div>
							<div class="product_crop">
							<img class="product_img" src="<%=product.imglink %>" onerror="if (this.src != 'http://golsonsonline.com/catalog/view/theme/Golsons/image/cat_not_found.png') 
							this.src = 'http://golsonsonline.com/catalog/view/theme/Golsons/image/cat_not_found.png';">
							</div>
							<div class="caption">
								<!--<p class="text-center"><span><%= product.brand %></span></p>-->
								<div class="col-md-12 product_name ellip"><span><%= product.name %></span></div>
								<p id="product-<%= product.id %>" class="text-center">
									<a class="col-md-6 eval_bt btn btn-rate rate-like" style="border-radius: 0px;" role="button">좋아함</a>
									<a class="col-md-6 eval_bt btn btn-rate rate-dislike" style="border-radius: 0px;" role="button">싫어함</a>
									<a class="col-md-6 product_span btn btn-rate rate-wish" role="button"><span class="glyphicon glyphicon-bookmark"></span><br>관심취향</a>
									<div class="col-md-6 product_span"><span class="glyphicon glyphicon-user"></span><br>코멘트보기</div>
								</p>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
</div>







			<script type="text/javascript">
			

				$(".rate-like").click(function(event) {
					postRate(event, 1);
				});

				$(".rate-soso").click(function() {
					postRate(event, 0)
				});

				$(".rate-dislike").click(function() {
					postRate(event, -1)
				});

				$(".rate-wish").click(function() {
					postRate(event, 5)
				});



				$('.dropdown-toggle').dropdown()



				function postRate(event, score) {
					var button = $(event.target);
					var allbuttons = $(event.target).parent().children("a");
					var heart = $(event.target).parent().parent().parent().children(".product_mark").children(".product_select").children("span");
					var bookmark = $(event.target).parent().parent().parent().children(".product_mark").children(".product_wish").children("span");
					var evarcard = $(event.target).parent().parent().parent().parent();
					var productid = evarcard[0].getAttribute('product-id')
					event.preventDefault();
					$.ajax({
						type: "POST",
						url: "/evalrate",
						data: {
							user_id: "<%=@user.id%>",
							product_id: productid,
							rate: score
						},
						success: function(result) {
							var isCanceling = button.hasClass("active");
							allbuttons.removeClass("active");
							if (isCanceling) {
								if(score == 5){
									bookmark.removeClass();
									bookmark.addClass("bookmark-empty");
								}
								else{
									heart.removeClass();
									heart.addClass("heart-empty");
								}
								
								$("#click-cancel").removeClass("in").show();
								$("#click-cancel").delay(1000).addClass("in").fadeOut(500);
							}
							else {
								button.addClass("active");
								
								if(score == 1){
									heart.removeClass();
									bookmark.removeClass();
									bookmark.addClass("bookmark-empty");
									heart.addClass("heart-like");
								}
								else if(score == -1){
									heart.removeClass();
									bookmark.removeClass();
									bookmark.addClass("bookmark-empty");
									heart.addClass("heart-dislike");
								}
								else if(score == 5){
									heart.removeClass();
									heart.addClass("heart-empty");
									bookmark.addClass("bookmark")
								}
								$("#click-save").removeClass("in").show();
								$("#click-save").delay(1000).addClass("in").fadeOut(500);
							}
						}
					});

				}
			</script>

			<div id="click-save" class="alert-click fade" role="alert">
				<strong>저장되었습니다.</strong>
			</div>
			<div id="click-cancel" class="alert-click fade" role="alert">
				<strong>취소되었습니다.</strong>
			</div>


			<style>

			   
				.alert-click {
					position: fixed;
					top: 40%;
					left: 45%;
					width: 10%;
					text-align: center;
					border-radius: 6px;
					background-color: black;
					z-index:1000;
				}
			</style>