<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



<!-- main menu -->
  <a href="/">
    <%=image_tag( "home.png", :class=> "home_logo") %></a>
  <nav id="navbar" class="navbar nav-top navbar-fixed-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-sm-3 col-xs-6"></div>
        <div class="col-md-4 col-sm-8 col-xs-6">
          <div class="navbar-center">
            <ul class="nav navbar-nav">
              <li class="active"><a href="evalpage">향 평가하기</a></li>
              <li>
                <a href="mypage">
                  나의 취향 보기
                </a>
              </li>
              <li><a href='/users/sign_out'> Log out </a> </li>
            </ul>
          </div>
        </div>
        <div class=" col-sm-1 "></div>
      </div>
    </div>
  </nav>
  <!-- main menu end -->
  
  <div class="container-fluid">
  	<div class="row" style="font-size:15px; text-align:center; color:rgb(100,100,100);">
  		<div class="bg_crop"><%=image_tag( "bg2.png", :width => "100%" ,:class => "img_bg2") %></div>
  		<div class="col-md-12 eval_head">
  			<h2>Smelling</h2>
	  	 	<div class="progress-custom">
		  	 	<div class="progressbar-custom" role="progressbar" style="width: <%= @evaluations.where.not(rate: 5).count*2 %>%;">
		  	 	</div>
				</div>
				<%= @evaluations.where.not(rate: 5).count %>개의 향을 평가 했어요
			</div>
		
  </div>
  </div>
  
  


<div class="container-fluid">
<div class="row reco">
 <div class="col-md-12">
  <!--<div class="col-md-12 e_heade_name">Smelling</div>-->
 	<div class="row">
     <div class="col-md-3 drop">
	  <div class="dropdown">
	    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    상품 종류 &nbsp;
	    <span class="caret"></span>
	    </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	  	<li><a href="/evalpage">전체보기</a></li>
			<li role="separator" class="divider"></li>
	    <li><a href="/evalpage?category=bodyclean">바디클렌저</a></li>
	    <li><a href="/evalpage?category=soap">비누</a></li>
	    <li><a href="/evalpage?category=handcream">핸드크림</a></li>
	    <li><a href="/evalpage?category=shampoo">샴푸/컨디셔너</a></li>
	    <li><a href="/evalpage?category=manp">남자향수</a></li>
	    <li><a href="/evalpage?category=womanp">여자향수</a></li>
	    <li><a href="/evalpage?category=diff">방향제</a></li>
	    <li><a href="/evalpage?category=candle">양키캔들</a></li>
	  </ul>
	</div>
   </div>
 </div>
</div>
<br>
<br>
<br><br><br>


<div class="tab-content container-fluid">
	<div role="tabpanel" class="tab-pane fade in active" id="tab-home">
		<div class="row reco">
			<div class="col-md-12">
				<% @products.sort_by{rand}.each do |product| %>
					<div class="col-sm-6 col-md-3 product_div" product-id="<%= product.id %>">
						<div class="col-md-12 product_box">
							<div class="col-md-12 product_mark">
								<!--<div class="col-md-3 product_select"><span class="heart-empty"></span></div>-->
								<div class="col-md-9"></div>
								<div class="col-md-3 product_wish"><span class="bookmark-empty"></span></div>
							</div>
							<div class="product_crop">
							<img class="product_img" src="<%=product.imglink %>" onerror="if (this.src != 'http://golsonsonline.com/catalog/view/theme/Golsons/image/cat_not_found.png') 
							this.src = 'http://golsonsonline.com/catalog/view/theme/Golsons/image/cat_not_found.png';">
							</div>
							<div class="caption">
								<!--<p class="text-center"><span><%= product.brand %></span></p>-->
								<div class="col-md-12 product_name ellip"><span><%= product.name %></span></div>
								<p id="product-<%= product.id %>" class="text-center">
									<span class="smellow-rate rate-1" data-toggle="tooltip" data-placement="bottom" title="최악이에요!"></span>
									<span class="smellow-rate rate-2" data-toggle="tooltip" data-placement="bottom" title="별로에요"></span>
									<span class="smellow-rate rate-3" data-toggle="tooltip" data-placement="bottom" title="보통이에요"></span>
									<span class="smellow-rate rate-4" data-toggle="tooltip" data-placement="bottom" title="좋아요"></span>
									<span class="smellow-rate rate-5" data-toggle="tooltip" data-placement="bottom" title="최고에요!"></span>
									<a class="col-md-6 product_span btn btn-rate rate-wish" role="button"><span class="glyphicon glyphicon-bookmark"></span><br>써볼래</a>
									<div class="col-md-6 product_span"><span class="glyphicon glyphicon-user"></span><br>코멘트보기</div>
								</p>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
</div>








			<script type="text/javascript">
				$(document).ready(function(){
					$('[data-toggle="tooltip"]').tooltip(); 
					
				});
			
				$(".smellow-rate").click(function(event){
					if($(event.target).hasClass("rate-1")){
						
					} else if($(event.target).hasClass("rate-2")){
						
					} else if($(event.target).hasClass("rate-3")){
						
					} else if($(event.target).hasClass("rate-4")){
						
					} else if($(event.target).hasClass("rate-5")){
						
					}
				});
				
				$(".smellow-rate").mouseenter(function(event) {
					if($(event.target).hasClass("rate-1")){
						$(event.target).addClass("smellow-rate-hover");
					} else if($(event.target).hasClass("rate-2")){
						$(event.target).parent().children(".rate-1").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-2").addClass("smellow-rate-hover");
					} else if($(event.target).hasClass("rate-3")){
						$(event.target).parent().children(".rate-1").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-2").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-3").addClass("smellow-rate-hover");
					} else if($(event.target).hasClass("rate-4")){
						$(event.target).parent().children(".rate-1").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-2").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-3").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-4").addClass("smellow-rate-hover");
					} else if($(event.target).hasClass("rate-5")){
						$(event.target).parent().children(".rate-1").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-2").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-3").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-4").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-5").addClass("smellow-rate-hover");
					}
				}).mouseleave(function(event){
					$(event.target).parent().children().removeClass("smellow-rate-hover");
				});
			
			

				$(".rate-wish").click(function() {
					postRate(event, 5)
				});



				$('.dropdown-toggle').dropdown()



				function postRate(event, score) {
					var button = $(event.target);
					var allbuttons = $(event.target).parent().children("a");
					var heart = $(event.target).parent().parent().parent().children(".product_mark").children(".product_select").children("span");
					var bookmark = $(event.target).parent().parent().parent().children(".product_mark").children(".product_wish").children("span");
					var evarcard = $(event.target).parent().parent().parent().parent();
					var productid = evarcard[0].getAttribute('product-id')
					event.preventDefault();
					$.ajax({
						type: "POST",
						url: "/evalrate",
						data: {
							user_id: "<%=@user.id%>",
							product_id: productid,
							rate: score
						},
						success: function(result) {
							var isCanceling = button.hasClass("active");
							allbuttons.removeClass("active");
							if (isCanceling) {
								if(score == 5){
									bookmark.removeClass();
									bookmark.addClass("bookmark-empty");
								}
								else{
									heart.removeClass();
									heart.addClass("heart-empty");
								}
								
								$("#click-cancel").removeClass("in").show();
								$("#click-cancel").delay(1000).addClass("in").fadeOut(500);
							}
							else {
								button.addClass("active");
								
								if(score == 1){
									heart.removeClass();
									bookmark.removeClass();
									bookmark.addClass("bookmark-empty");
									heart.addClass("heart-like");
								}
								else if(score == -1){
									heart.removeClass();
									bookmark.removeClass();
									bookmark.addClass("bookmark-empty");
									heart.addClass("heart-dislike");
								}
								else if(score == 5){
									heart.removeClass();
									heart.addClass("heart-empty");
									bookmark.addClass("bookmark")
								}
								$("#click-save").removeClass("in").show();
								$("#click-save").delay(1000).addClass("in").fadeOut(500);
							}
						}
					});

				}
			</script>

			<div id="click-save" class="alert-click fade" role="alert">
				<strong>저장되었습니다.</strong>
			</div>
			<div id="click-cancel" class="alert-click fade" role="alert">
				<strong>취소되었습니다.</strong>
			</div>


			<style>

			   
				.alert-click {
					position: fixed;
					top: 40%;
					left: 45%;
					width: 10%;
					text-align: center;
					border-radius: 6px;
					background-color: black;
					z-index:1000;
				}
			</style>
			
			
			<!-- footer -->
<div class="row container-fluid-gray">
  <div class="col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4 foot_t">
    <a href="#" class="top"><div class="col-md-4"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true">&nbsp;top</span></div></a>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<!-- footer -->  

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
      $( document ).ready( function() {
        $( window ).scroll( function() {
          if ( $( this ).scrollTop() > 80 ) {
            $( '.top' ).fadeIn();
          } else {
            $( '.top' ).fadeOut();
          }
        } );
        $( '.top' ).click( function() {
          $( 'html, body' ).animate( { scrollTop : 0 }, 400 );
          return false;
        } );
      } );
    </script>

