<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



<!-- main menu -->
  <a href="/">
    <%=image_tag( "home.png", :class=> "home_logo") %></a>
  <nav id="navbar" class="navbar nav-top navbar-fixed-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-sm-3 col-xs-6"></div>
        <div class="col-md-4 col-sm-8 col-xs-6">
          <div class="navbar-center">
            <ul class="nav navbar-nav">
              <li class="active"><a href="evalpage">향 평가하기</a></li>
              <li>
                <a href="mypage">
                  나의 취향 보기
                </a>
              </li>
              <li><a href='/users/sign_out'> Log out </a> </li>
            </ul>
          </div>
        </div>
        <div class=" col-sm-1 "></div>
      </div>
    </div>
  </nav>
  <!-- main menu end -->
  
  <div class="container-fluid">
  	<div class="row" style="font-size:15px; text-align:center; color:rgb(100,100,100);">
  		<div class="bg_crop"><%=image_tag( "bg2.png", :width => "100%" ,:class => "img_bg2") %></div>
  		<div class="col-md-12 eval_head">
  			<h2>Smelling</h2>
	  	 	<div class="progress-custom">
		  	 	<div class="progressbar-custom" role="progressbar" style="width: <%= @evaluations.where.not(rate: 0).count*2 %>%;">
		  	 	</div>
				</div>
				<%= @evaluations.where.not(rate: 0).count %>개의 향을 평가 했어요
			</div>
		
  </div>
  </div>
  
  


<div class="container-fluid">
<div class="row reco">
 <div class="col-md-12">
  <!--<div class="col-md-12 e_heade_name">Smelling</div>-->
 	<div class="row">
     <div class="col-md-3 drop">
	  <div class="dropdown">
	    <button style="background-color:gray;" class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    상품 종류 &nbsp;
	    <span style="background-color:gray;" class="caret"></span>
	    </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	  	<li><a href="/evalpage">전체보기</a></li>
			<li role="separator" class="divider"></li>
	    <li><a href="/evalpage?category=bodyclean">바디클렌저</a></li>
	    <li><a href="/evalpage?category=soap">비누</a></li>
	    <li><a href="/evalpage?category=handcream">핸드크림</a></li>
	    <li><a href="/evalpage?category=shampoo">샴푸/컨디셔너</a></li>
	    <li><a href="/evalpage?category=manp">남자향수</a></li>
	    <li><a href="/evalpage?category=womanp">여자향수</a></li>
	    <li><a href="/evalpage?category=diff">방향제</a></li>
	    <li><a href="/evalpage?category=candle">양키캔들</a></li>
	  </ul>
	</div>
   </div>
   <div class="col-md-6"> </div>
   <div class="col-md-3">
   <br> <br>  <br>

   </div>
 </div>
 
</div>



<br>
<br>
<br><br><br>


<div class="tab-content container-fluid">
	<div role="tabpanel" class="tab-pane fade in active" id="tab-home">
		<div class="row reco">
			<div class="col-md-12">
				<% i = 0 %>
				<% @products.sort_by{rand}.each do |product| %>
					<% if i<4 %>
					<div class="col-sm-6 col-md-3 product_div" product-id="<%= product.id %>">
						<div class="col-md-12 product_box">
							<div class="col-md-12 product_mark">
								<!--<div class="col-md-3 product_select"><span class="heart-empty"></span></div>-->
								<div class="col-md-9"></div>
								<div class="col-md-3 product_wish"><span class="bookmark-empty"></span></div>
							</div>
							<div class="product_crop">
							<img class="product_img" src="<%=product.imglink %>" onerror="if (this.src != 'http://golsonsonline.com/catalog/view/theme/Golsons/image/cat_not_found.png') 
							this.src = 'http://golsonsonline.com/catalog/view/theme/Golsons/image/cat_not_found.png';">
							</div>
							<div class="caption">
								<!--<p class="text-center"><span><%= product.brand %></span></p>-->
								<div class="col-md-12 product_name ellip"><span><%= product.name %></span></div>
								<p id="product-<%= product.id %>" product-id="<%= product.id %>" class="text-center">
									<br>
									<span class="smellow-rate rate-1" data-toggle="tooltip" data-placement="bottom" title="최악이에요!" style="width:7%"></span>
									<span class="smellow-rate rate-2" data-toggle="tooltip" data-placement="bottom" title="별로에요" style="width:7%"></span>
									<span class="smellow-rate rate-3" data-toggle="tooltip" data-placement="bottom" title="보통이에요" style="width:7%"></span>
									<span class="smellow-rate rate-4" data-toggle="tooltip" data-placement="bottom" title="좋아요" style="width:7%"></span>
									<span class="smellow-rate rate-5" data-toggle="tooltip" data-placement="bottom" title="최고에요!" style="width:7%"></span> <br>
									<a class="col-md-6 product_span btn btn-rate rate-wish" role="button"> <span class="glyphicon glyphicon-bookmark"></span><br> 써볼래</a> 
									<div class="col-md-6 product_span"><span class="glyphicon glyphicon-user"></span> <br>코멘트보기</div>
								</p>
							</div>
						</div>
						
					</div>
					<% end %>
					<% i = i+1 %>
				<% end %>
				   	    <a class="btn drop button_right" href="/evalpage" role="button" style="font-size:35px; color:gray; float:right; margin-right:70px">
   	    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
   	    </a>
			</div>
		</div>
		
	</div>
</div>
</div>



<script>
jQuery( document ).ready(function( $ ) {
   $(".smellow-rate").tooltip();
});
</script>




			<script type="text/javascript">

			
				$(".smellow-rate").click(function(event){
					if($(event.target).hasClass("rate-1")){
						postRate(event, 1)
					} else if($(event.target).hasClass("rate-2")){
						postRate(event, 2)
					} else if($(event.target).hasClass("rate-3")){
						postRate(event, 3)
					} else if($(event.target).hasClass("rate-4")){
						postRate(event, 4)
					} else if($(event.target).hasClass("rate-5")){
						postRate(event, 5)
					}
				});
				
				$(".smellow-rate").mouseenter(function(event) {
					if($(event.target).hasClass("rate-1")){
						$(event.target).addClass("smellow-rate-hover");
					} else if($(event.target).hasClass("rate-2")){
						$(event.target).parent().children(".rate-1").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-2").addClass("smellow-rate-hover");
					} else if($(event.target).hasClass("rate-3")){
						$(event.target).parent().children(".rate-1").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-2").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-3").addClass("smellow-rate-hover");
					} else if($(event.target).hasClass("rate-4")){
						$(event.target).parent().children(".rate-1").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-2").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-3").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-4").addClass("smellow-rate-hover");
					} else if($(event.target).hasClass("rate-5")){
						$(event.target).parent().children(".rate-1").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-2").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-3").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-4").addClass("smellow-rate-hover");
						$(event.target).parent().children(".rate-5").addClass("smellow-rate-hover");
					}
				}).mouseleave(function(event){
					$(event.target).parent().children().removeClass("smellow-rate-hover");
				});
			
			

				$(".rate-wish").click(function() {
					postRate(event, 0)
				});



				$('.dropdown-toggle').dropdown()



				function postRate(event, score) {
					var button = $(event.target);
					var allbuttons = $(event.target).parent().children("a");
					var heart = $(event.target).parent().parent().parent().children(".product_mark").children(".product_select").children("span");
					var bookmark = $(event.target).parent().parent().parent().children(".product_mark").children(".product_wish").children("span");
					var evarcard = $(event.target).parent();
					var productid = evarcard[0].getAttribute('product-id');
					var isCanceling = button.hasClass("smellow-rate-clicked");
					event.preventDefault();
					$.ajax({
						type: "POST",
						url: "/evalrate",
						data: {
							user_id: "<%=@user.id%>",
							product_id: productid,
							rate: score
						},
						success: function(result) {

							$(event.target).parent().children().removeClass("smellow-rate-clicked");
							bookmark.removeClass("bookmark");
							bookmark.addClass("bookmark-empty");
					if (isCanceling) {			
						$("#click-cancel").removeClass("in").show();
						$("#click-cancel").delay(1000).addClass("in").fadeOut(500);
						return;
					}

					if(score == 0){
						bookmark.addClass("bookmark");
					}
					else{
							bookmark.removeClass();
							bookmark.addClass("bookmark-empty");
							if($(event.target).hasClass("rate-1")){
							$(event.target).addClass("smellow-rate-clicked");
						} else if($(event.target).hasClass("rate-2")){
							$(event.target).parent().children(".rate-1").addClass("smellow-rate-clicked");
							$(event.target).parent().children(".rate-2").addClass("smellow-rate-clicked");
						} else if($(event.target).hasClass("rate-3")){
							$(event.target).parent().children(".rate-1").addClass("smellow-rate-clicked");
							$(event.target).parent().children(".rate-2").addClass("smellow-rate-clicked");
							$(event.target).parent().children(".rate-3").addClass("smellow-rate-clicked");
						} else if($(event.target).hasClass("rate-4")){
							$(event.target).parent().children(".rate-1").addClass("smellow-rate-clicked");
							$(event.target).parent().children(".rate-2").addClass("smellow-rate-clicked");
							$(event.target).parent().children(".rate-3").addClass("smellow-rate-clicked");
							$(event.target).parent().children(".rate-4").addClass("smellow-rate-clicked");
						} else if($(event.target).hasClass("rate-5")){
							$(event.target).parent().children(".rate-1").addClass("smellow-rate-clicked");
							$(event.target).parent().children(".rate-2").addClass("smellow-rate-clicked");
							$(event.target).parent().children(".rate-3").addClass("smellow-rate-clicked");
							$(event.target).parent().children(".rate-4").addClass("smellow-rate-clicked");
							$(event.target).parent().children(".rate-5").addClass("smellow-rate-clicked");
						} 
					}
					
							$("#click-save").removeClass("in").show();
							$("#click-save").delay(1000).addClass("in").fadeOut(500);
							
						}
					});

				}
			</script>

			<div id="click-save" class="alert-click fade" role="alert">
				<strong>저장되었습니다.</strong>
			</div>
			<div id="click-cancel" class="alert-click fade" role="alert">
				<strong>취소되었습니다.</strong>
			</div>


			<style>

			   
				.alert-click {
					position: fixed;
					top: 40%;
					left: 45%;
					width: 10%;
					text-align: center;
					border-radius: 6px;
					background-color: black;
					z-index:1000;
				}
			</style>
			
			
			<!-- footer -->
<div class="row">
  <div class="col-md-12 foot_1">
  <div class="col-md-4"></div>
    <div class="col-md-4 foot_t">
    <a href="#" class="top"><div class="col-md-4"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"><br>top</span></div></a>
    </div>
  <div class="col-md-4 foot_2"> created by<br>Garam An &nbsp Jina Lee &nbsp Younseok Lee &nbsp Byungmook Kim</div>
  
  </div>
</div>
<!-- footer -->  

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
      $( document ).ready( function() {
        $( window ).scroll( function() {
          if ( $( this ).scrollTop() > 120 ) {
            $( '.top' ).fadeIn();
          } else {
            $( '.top' ).fadeOut();
          }
        } );
        $( '.top' ).click( function() {
          $( 'html, body' ).animate( { scrollTop : 0 }, 400 );
          return false;
        } );
      } );
    </script>

