<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tab-home" aria-controls="tab-home" role="tab" data-toggle="tab"> 평가늘리기 </a></li>
    <li role="presentation"><a href="#tab-bodycleanser" aria-controls="tab-bodycleanser" role="tab" data-toggle="tab"> 바디클렌저 </a></li>
    <li role="presentation"><a href="#tab-soap" aria-controls="tab-soap" role="tab" data-toggle="tab"> 비누 </a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  	<li role="presentation" class="pull-right"> <a href='/users/sign_out'> 로그아웃 </a> </li>
  	<li role="presentation" class="pull-right"> <a href="mypage"> <%=@user.email%>  </a> </li>
  
  </ul>


<br/><br/>
<h1 class="text-center">Smellow</h1>
<br/>




<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="tab-home">
		<div class="container">
			<% @products.each do |product| %>
				<div class="col-sm-6 col-md-3" product-id="<%= product.id %>">
					<div class="thumbnail">
						<img src="<%=product.imglink %>" alt="...">
						<div class="caption">
							<p class="text-center"><span><%= product.brand %></span></p>
							<p class="text-center ellip"><span><%= product.name %></span></p>
							<p id="product-<%= product.id %>" class="text-center">
			        
		        	<a class="btn btn-default btn-rate rate-like" role="button">좋아함</a> 
		        	<a class="btn btn-default btn-rate rate-soso" role="button">보통</a> 
		        	<a class="btn btn-default btn-rate rate-dislike" role="button">싫어함</a>
		        	
		        </p>
		      </div>
		    </div>
		  </div>
		
		       
			<% end %>
		</div>
  </div>
  
  
  <div role="tabpanel" class="tab-pane fade" id="tab-bodycleanser">
  
  <div class="container">

	<% @products.each do |product| %>
		<% if product.category == '바디클렌저' %>
		<div class="col-sm-6 col-md-3" product-id="<%= product.id %>">
			<div class="thumbnail">
				<img src="<%=product.imglink %>" alt="...">
				<div class="caption">
					<p class="text-center"><span><%= product.brand %></span></p>
					<p class="text-center ellip"><span><%= product.name %></span></p>
					<p id="product-<%= product.id %>" class="text-center">
        	<a class="btn btn-default btn-rate rate-like" role="button">좋아함</a> 
        	<a class="btn btn-default btn-rate rate-soso" role="button">보통</a> 
        	<a class="btn btn-default btn-rate rate-dislike" role="button">싫어함</a>
        	</p>
      	</div>
    	</div>
  	</div>
  	<% end %>

       
	<% end %>
	</div>

  
  
  
  </div>


  <div role="tabpanel" class="tab-pane fade" id="tab-soap">
  
  <div class="container">

	<% @products.each do |product| %>
		<% if product.category == '비누' %>
		<div class="col-sm-6 col-md-3" product-id="<%= product.id %>">
			<div class="thumbnail">
				<img src="<%=product.imglink %>" alt="...">
				<div class="caption">
					<p class="text-center"><span><%= product.brand %></span></p>
					<p class="text-center ellip"><span><%= product.name %></span></p>
					<p id="product-<%= product.id %>" class="text-center">
        	<a class="btn btn-default btn-rate rate-like" role="button">좋아함</a> 
        	<a class="btn btn-default btn-rate rate-soso" role="button">보통</a> 
        	<a class="btn btn-default btn-rate rate-dislike" role="button">싫어함</a>
        	</p>
      	</div>
    	</div>
  	</div>
  	<% end %>

       
	<% end %>
	</div>
  </div>


  <div role="tabpanel" class="tab-pane fade" id="settings">...</div>
</div>

  
  
	

<style>
	.ellip {
      white-space:nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }
</style>



<script type="text/javascript">

	<% @evaluations.each do |evaluation| %>
		var parent = document.getElementById("product-<%= @products.find(evaluation.product_id).id%>");
		<% if evaluation.rate == 1%>
			parent.querySelector(".rate-like").className += " active";
		<% elsif evaluation.rate == 0%>
			parent.querySelector(".rate-soso").className += " active";
		<% elsif evaluation.rate == -1%>
			parent.querySelector(".rate-dislike").className += " active";
		<% end %>
	<% end %>

	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		<% @evaluations.each do |evaluation| %>
		address = String(e.target);
		tab_name = address.replace("https://smellow-a247youn-2.c9.io/evalpage#", "");
		
		 
		 	var tab = document.getElementById(tab_name);
		 	alert(tab);
		 	var parent = tab.querySelector("#product-<%= @products.find(evaluation.product_id).id%>");
			//var parent = document.getElementById("product-<%= @products.find(evaluation.product_id).id%>");
			<% if evaluation.rate == 1%>
				parent.querySelector(".rate-like").className += " active";
			<% elsif evaluation.rate == 0%>
				parent.querySelector(".rate-soso").className += " active";
			<% elsif evaluation.rate == -1%>
				parent.querySelector(".rate-dislike").className += " active";
			<% end %>
		<% end %>
  	// newly activated tab
  	e.relatedTarget // previous active tab
	})



	$(".rate-like").click(function(event) {
		postRate(event, 1);
  	});

	$(".rate-soso").click(function() {
  		postRate(event, 0)
	});

	$(".rate-dislike").click(function() {
		postRate(event, -1)
	});

	function postRate(event, score){
		var button = $(event.target);
		var allbuttons = $(event.target).parent().children("a");
		var evarcard =  $(event.target).parent().parent().parent().parent();
		var productid= evarcard[0].getAttribute('product-id')
  		event.preventDefault();
  		$.ajax({
  			type: "POST",
  			url: "/evalrate",
  			data: { user_id: "<%=@user.id%>", product_id: productid, rate: score },
  			success: function(result) {
  				allbuttons.removeClass("active");
  				button.addClass("active");
    		}
    	});

	}


	

	

</script>

